{% extends 'base.html' %}

{% block head %} 
    <title>To-Do-List App</title>
{% endblock %}

{% block body %}
    <header class="head"><h1>To Do List!</h1></header>
    <div class="container">
        <h3>List -</h3>
        <ol type="1">
            <li>Install python and pip</li>
            <li>Pip install flask</li>
            <li>Create an app.py file in your project folder</li>
            <li>Write boiler plate flask app [fapp] code</li>
            <li>Write a base.html and an index.html for the render template function to render html on the page</li>
        </ol>
    </div>
{% endblock %}