{% extends 'base.html' %}

{% block head %}
    <title>Blog Post</title>
{% endblock %}

{% block body %}
<div class="blog-space">
    <header class="header1">
        <h1>This is A Blog Post</h1>
        <h2>By Bhargav Pandit</h2>
    </header>

    <div class="content">
        <span>Bhargav ~ 28/9/23</span>        
        <p>
            Satoru Gojo (五ご条じょう悟さとる Gojō Satoru?) is one of the main protagonists of the Jujutsu Kaisen series. 
            He is a special grade jujutsu sorcerer and widely recognized as the strongest in the world. Satoru is the pride of the Gojo Family, the first person to inherit both the Limitless and the Six Eyes in four hundred years. 
            He works as a teacher at the Tokyo Jujutsu High and uses his influence to protect and train strong young allies.
        </p>
    </div>
    <div class="content">
        <span>Bhargav ~ 27/9/23</span>        
        <p>
            Yuji Itadori (虎いた杖どり悠ゆう仁じ Itadori Yūji?) is the main protagonist of the Jujutsu Kaisen series. 
            He is the son of Jin Itadori and Kaori Itadori. 
            Yuji is the grandson of Wasuke Itadori who was living a normal life until he encountered Megumi and ate one of Sukuna's fingers. 
            After becoming Sukuna's vessel, Yuji began attending Tokyo Jujutsu High alongside Megumi and Nobara as first-year students.
        </p>
    </div>
    <div class="content">
        <span>Bhargav ~ 26/9/23</span>        
        <p>
            Nobara Kugisaki (釘くぎ崎さき野の薔ば薇ら Kugisaki Nobara?) is the tritagonist of the Jujutsu Kaisen series. 
            She is a first-year student and grade 3 jujutsu sorcerer at Tokyo Jujutsu High studying under Satoru Gojo alongside Yuji and Megumi.
        </p>
    </div>
    <div class="content">
        <span>Bhargav ~ 25/9/23</span>        
        <p>
            Megumi Fushiguro (伏ふし黒ぐろ恵めぐみ Fushiguro Megumi?) is the deuteragonist of the Jujutsu Kaisen series. 
            He is a grade 2 jujutsu sorcerer and first-year student at Tokyo Jujutsu High alongside Yuji Itadori and Nobara Kugisaki. 
            Megumi is the step-brother of Tsumiki Fushiguro and as the son of Toji Fushiguro, Megumi is also a descendant of the Zenin Family. 
            Megumi was born outside the clan as Toji's trump card and was eventually found by Satoru Gojo, who mentored him and enrolled him at Jujutsu High as his student.
        </p>
    </div>
    <div class="content">
        <span>Bhargav ~ 24/9/23</span>        
        <p>
            Yuta Okkotsu (乙おっ骨こつ憂ゆう太た Okkotsu Yūta?) is a major supporting character in the Jujutsu Kaisen series and the main protagonist of its prequel series, Jujutsu Kaisen 0: Jujutsu High. 
            He was initially a special grade cursed human haunted by his late childhood friend, Rika Orimoto. Satoru Gojo mentored Yuta and enrolled him at Tokyo Jujutsu High.
            Yuta is currently a second-year student at Jujutsu High where he works as a jujutsu sorcerer. 
            He was training overseas in Africa with Miguel until after the Shibuya Incident when he returned to Tokyo.
        </p>
    </div>       
</div>    
{% endblock %}